:root {
    --p-color: #3851C9;
    --title-color: #11183D;
    --text-color: #11183D;
  }
  .grafico{
    display: inline;
    width: 50rem;
    margin-left: 5rem;  
  }
  h1{
    font-size: 15px;
  }