div.tooltip{
  width:100rem;
  color:#fff;
  background:red;
  border-radius:10px;
  padding:5px;
  pointer-events: none;
}
path:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
}
path:hover {
  fill: red;
  opacity: 1;
  cursor: pointer;
}



